.karticeChildList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    border: rgb(148, 193, 204) 0.5px solid;
    background-color: rgba(191, 233, 250, 0.815);
    width: 10rem;
    height: 10rem;
    margin-top: 2rem;
    /* margin-bottom: 2rem; */
    padding: 0;
    text-decoration: none;
}

.karticeList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border-top: gray 1px solid;
    margin-top: 7rem;
    margin-left: 15%;
    margin-right: 15%;
    text-decoration: none;
}

.kartaList{
    /* margin-top: auto; */
    text-decoration: none;
    margin-top: 1rem;
    /* padding: 0.5rem; */
    /* border-bottom: rgb(214, 213, 213) 1px solid; */
}

.kartaIkone2{
    margin-left: 0.5rem;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    align-self: center;
    margin-bottom: 1.2rem;
  }

.kartaIkone1{
    margin-right: 0.5rem;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    align-self: center;
    margin-bottom: 1.2rem;
}

.formaList{
    /* margin-top: 1rem; */
}

.listLabel{
    font-size: 0.8rem;
}

.listUser{
    text-decoration: none;
    text-align: center;
    border-top: rgb(214, 213, 213) 1px solid;
    margin: 0;
}

.buttonListing{
    /* margin-top: 0.4rem; */
    /* margin: 0.4rem 1rem; */
    margin: 0.2rem 0.4rem;
    border-radius: 2px;
    border-width: 0;
    width: 4rem;
    background-color: rgb(146, 184, 233);
    border: gray 0.5px solid;
  }

.listInput{
    width: 85%;
    
}
.labelEnc{
    width: 85%;
    cursor: pointer;
    background-color: rgb(146, 184, 233);
    border: gray 0.5px solid;
    border-radius: 2px;
    display: inline-block;
    margin-top: 0.2rem;
    width: 5rem;
}

.listingsEnc{
    
    display: none;
}